@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    width: 80%;
    margin: 50px auto;
    border: 2px solid ;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    gap: 30px;
}
.navbar li{
    list-style: none;
   
}

@media screen and (max-width:576px) {
    .navbar ul{
   display: none;
}
.logo img{
    width: 50%;
}
}