@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 50px auto;
  border: 2px solid;
  box-sizing: border-box;
  background-color: #f5f8ff;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  gap: 30px;
}
.navbar li {
  list-style: none;
}

/* main  */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 50px auto;
  box-sizing: border-box;
  width: 90%;
}
.title-paragraph {
  width: 50%;
  box-sizing: border-box;
}
.title-paragraph h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.title-paragraph p {
  font-weight: 300;
}
.hero-img {
  width: 50%;
}
.hero-img img {
  width: 100%;
}

/* plants section */
.plants {
  width: 90%;
  margin: 100px auto;
  text-align: center;
}
.plants h1 {
  font-size: 4rem;
  padding: 20px;
}
.plant-title {
  font-size: 1.1rem;
  padding: 10px 60px;
  font-weight: 300;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  margin-top: 50px;
  box-sizing: border-box;
}
.card img {
  width: 100%;
}
.card-title {
  font-size: 1.5rem;
  padding: 30px;
}
.card button {
  font-family: "Inter", sans-serif;
  padding: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  background-color: #e95a08;
  border: none;
  width: 100%;
}

/* plant lover section */
.plants-lover-section {
  position: relative;
}
.trusted-img img {
  width: 400px;
}
.trusted-img {
  position: absolute;
  bottom: 450px;
  left: 27%;
  z-index: 10;
}
.Plant-lover {
  width: 90%;
  margin: 200px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}
.flower-store img {
  width: 100%;
}
.plant-lover-details {
  width: 50%;
  box-sizing: border-box;
  padding: 80px 0px 80px 40px;
}
.plant-lover-details h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  position: relative;
  right: 40px;
}
.plant-lover-details ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 30px;
  font-weight: 300;
}







/* latest deals section */
.latest-deals {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;

}
.latest-deals h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.latest-deals p {
  font-weight: 300;
}
.deals-details {
  padding: 20px 0px 100px 0px;
  text-align: center;
}
.deals-details p{
 padding: 0px 300px;
}

.deal-img-one-container {
position: relative;
  grid-area: one;
}
.deal-img-two-container {
 position: relative;
  grid-area: two;
}
.deal-img-three-container {
 position: relative;
  grid-area: three;
  
}

.deals-offer-one{
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
    left: 10%;
    z-index: 3;
}
.deals-offer-two{
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
   left: 10%;
   z-index: 10;
}
.deals-offer-three{
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    left: 30%;
    z-index: 10;
}

.deals-img-container {
  display: grid;
  grid-template-areas:
    "one three three "
    "two three three ";
  gap: 20px 30px;
}
.deals-img-container img {
  border-radius: 15px;
  width: 100%;
}
.deals-img-container a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;


}
 .deals-img-container p{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;

}

.img-container{
position: relative;
}
.overly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 20px;

}


/* join section */
.join-section{
  text-align: center;
  width: 90%;
  margin: 100px auto;
  border: 4px solid;
  background-size: cover;
  background-position: center;
  position: relative;
}

.join-bg-img img{
  width: 100%;
}
.input-section{
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 40%;
  


}
.input-section input{
  padding: 40px;
  border: none;
  outline: none;
}
.input-section button{
  padding: 40px;
  border: none;
  background-color: #e95a08;
}






@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  .navbar ul {
    display: none;
  }
  .logo img {
    width: 50%;
  }

  .hero-section {
    flex-direction: column-reverse;
    align-items: normal;
    gap: 40px;
  }
  .title-paragraph {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .title-paragraph h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .hero-img {
    width: 100%;
  }

  .plants-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .trusted-img {
    display: none;
  }
  .Plant-lover {
    flex-direction: column;
    gap: 0px;
  }

  .plant-lover-details {
    width: 100%;
  }
  .plant-lover-details h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .plant-lover-details {
    padding: 10px 0px 0px 40px;
  }
  .plant-lover-details ul {
    font-size: 1.2rem;
  }
  .deals-img-container {
  display: grid;
  grid-template-areas:
    "one "
    "two "
    "three ";
  gap: 20px 30px;
}
.deals-offer-one{
    top: 40%;
    left: 20%;
}
.deals-offer-two{
    top: 40%;
    left: 20%;
}
.deals-offer-three{
    top: 40%;
    left: 20%;
}
.deals-details p{
 padding: 0px;
}
.deals-img-container a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 1rem;


}
 .deals-img-container p{
    font-size: 1.5rem;
    margin-bottom: 10px;

}
}


@media screen and (min-width: 576px) and (max-width: 992px) {
  .plants-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .trusted-img {
    display: none;
  }
  .Plant-lover {
    flex-direction: column;
    gap: 40px;
  }

  .hero-section {
    flex-direction: column-reverse;
    align-items: normal;
    gap: 40px;
  }
  .title-paragraph {
    width: 100%;
  }
  .title-paragraph h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .hero-img {
    width: 100%;
  }

  .plant-lover-details {
    width: 100%;
  }
  .plant-lover-details h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .plant-lover-details {
    padding: 10px 0px 0px 40px;
  }
  .plant-lover-details ul {
    font-size: 2rem;
  }
  .flower-store {
    width: 100%;
  }
    .deals-img-container {
  display: grid;
  grid-template-areas:
    "one "
    "two "
    "three ";
  gap: 20px 30px;
}
.deals-offer-one{
    top: 40%;
    left: 30%;
}
.deals-offer-two{
    top: 40%;
    left: 30%;
}
.deals-offer-three{
    top: 40%;
}
.deals-details p{
 padding: 0px;
}
.deals-img-container a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 1rem;


}
 .deals-img-container p{
    font-size: 1.5rem;
    margin-bottom: 10px;

}
}


@media screen and (min-width: 992px) and (max-width: 1140px) {
  .trusted-img img {
    width: 400px;
  }
  .trusted-img {
    position: absolute;
    bottom: 500px;
    left: 22%;
  }
      .deals-img-container {
  display: grid;
  grid-template-areas:
    "one "
    "two "
    "three ";
  gap: 20px 30px;
}
.deals-offer-one{
    top: 40%;
    left: 40%;
}
.deals-offer-two{
    top: 40%;
    left: 40%;
}
.deals-offer-three{
    top: 50%;
    left: 40%;
}
.deals-details p{
 padding: 0px;
}
.deals-img-container a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
 .deals-img-container p{
    font-size: 2rem;
    margin-bottom: 10px;

}
}

@media screen and (min-width: 1140px) and (max-width: 1300px) {
  .trusted-img img {
    width: 400px;
  }
  .trusted-img {
    position: absolute;
    bottom: 500px;
    left: 24%;
  }
  
}
